**

!.dockerignore

!algorithm-scheduling-platform/
!algorithm-scheduling-platform/pyproject.toml
!algorithm-scheduling-platform/packages/
!algorithm-scheduling-platform/packages/**

!control_service/
!control_service/requirements.txt
!control_service/config.toml
!control_service/app/
!control_service/app/**
!control_service/docker/
!control_service/docker/Dockerfile

!orchestrator_service/
!orchestrator_service/requirements.txt
!orchestrator_service/config.toml
!orchestrator_service/app/
!orchestrator_service/app/**
!orchestrator_service/docker/
!orchestrator_service/docker/Dockerfile

!vision_orchestrator_service/
!vision_orchestrator_service/requirements.txt
!vision_orchestrator_service/config.toml
!vision_orchestrator_service/app/
!vision_orchestrator_service/app/**
!vision_orchestrator_service/docker/
!vision_orchestrator_service/docker/Dockerfile

!online_gateway_service/
!online_gateway_service/requirements.txt
!online_gateway_service/config.toml
!online_gateway_service/app/
!online_gateway_service/app/**
!online_gateway_service/docker/
!online_gateway_service/docker/Dockerfile
